<div class="modal-header">
    <h4>Adauga Moderator</h4>
</div>

<div class="modal-body">
    <form class="ui form">
        <div class="ui message">
            <b>Pasul 1:</b> Adauga adresa de email pentru a verifica daca mai exista un user de mobile cu aceasta adresa.
        </div>
        <div class="ui red message" ng-show="emailerror">
            Email-ul nu e corect formatat.
        </div>
        <div class="field">
            <label>Email</label>
            <input placeholder="Email" ng-model="newUser.email">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="ui button" ng-click="$close()">Inchide</button>
    <button class="ui green button" ng-click="verify(newUser.email)"> Verifica</button>

</div>