<div class="col-sm-2" style="padding-left:0px;">
    <div class="ui vertical pointing menu" style="width:100%;">
        <a class="active item">
            <i class="users icon"></i> Toate organizatiile
        </a>
        <!--<a class="item">
    <i class="plus icon"></i> Adauga organizatie
  </a>-->
    </div>

    <b style="padding-left:10px;padding-right:10px;">Tipuri Organizatii
        
     </b>
    <div class="ui vertical pointing menu" style="width:100%;">
        <a class="item" ng-repeat="type in orgTypes">
            <i class="heart icon"></i> {{type.type}}
        </a>
    </div>
</div>