<div class="ui inverted menu" style="border-radius:0px;">
    <a class="item" href="#/">
        <img src="images/icon.png" />
    </a>
    <a class="item" href="#/{{loggedUser.org}}/dashboard" ng-class="page=='dashboard'?'active':''">
        <i class="dashboard icon"></i> Dashboard
    </a>
    <!--<a class="item" href="#/{{loggedUser.org}}/events" ng-class="page=='events'?'active':''">
    <i class="calendar icon"></i> Evenimente
  </a>
  <a class="item" href="#/{{loggedUser.org}}/users" ng-class="page=='users'?'active':''">
    <i class="users icon"></i> Utilizatori
  </a>-->


    <div class="menu right">
        </a>
        <a class="item" href="#/editUserProfile">
            <i class="user icon"></i> {{loggedUser.last_name}} {{loggedUser.first_name}}
        </a>
        </a>
        <a class="item" href="" ng-click="logout()">
            <i class="sign out icon"></i> Log out
        </a>
    </div>

</div>