<div class="modal-header">
    <h4> Propune functionalitati</h4>
</div>

<div class="modal-body">
    <form class="ui form">
        <div class="field">
            <label>Feedbackul tau:</label>
            <textarea rows="3" ng-model="feedback.msg" placeholder="Feedback"> </textarea>
        </div>
        <div class="field">
            <label>Nume</label>
            <input ng-model="feedback.user" placeholder="Nume"/>
            <div class="ui green message" align="center">Daca nu completezi acest camp feedback-ul tau va fi considerat anonim</div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="ui button" ng-click="$close()">Inchide</button>
    <div class="ui green basic button" ng-click="open2()">Trimite</div>
    
    
</div>