<div class="modal-header">
    <h4>Adauga Moderator</h4>
</div>

<div class="modal-body">
    <form class="ui form">
        <div class="ui message">
            <b>Pasul 2:</b> Userul nu exista in baza de date, va rugam introduceti datele pentru a i se crea un cont de moderator.
        </div>
        <div class="field">
            <label>Nume</label>
            <input placeholder="nume" ng-model="newUser.nume">
        </div>
        <div class="field">
            <label>Prenume</label>
            <input placeholder="nume" ng-model="newUser.prenume">
        </div>
        <div class="field">
            <label>Email</label>
            <input placeholder="nume" ng-model="newUser.email" readonly>
        </div>
        <div class="field">
            <label>Parola</label>
            <input placeholder="nume" ng-model="newUser.pass1">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="ui green button" ng-click='adaugaU(newUser)'>Adauga</button>
</div>