<div main-menu></div>
<div class="ui green segment" style="border-radius:0px;margin:0px;box-shadow:0px;">
    <div class="container">
        <h2>Despre Sniff Events</h2>
    </div>
</div>

<div class="ui container">
    <div class="row" style="margin-top:20px; margin-bottom:30px;">
        <div class="col-lg-8" >
            <div align="center">
                        <img src="images/sniff.png" width="200">
            </div>
            <p style="text-align:justify;font-size:17px !important;">Totul a pornit de la ideea creeri unei aplicatii de mobile pentru Asociatia Studentilor la Matematica si Informatica. Odata cu evolutia unui ONG se simte clar nevoia utilizarii unui tool care sa aborderze intr-un mod mai eficient comunicarea, informarea si promovarea unui proiect. </p>

            <p style="text-align:justify;font-size:17px !important;">Chiar daca la momentul actual exista foarte multe aplicatii cu ajutorul carora poti promova un eveniment, nici una nu este conceputa special pentru a satisface nevoile unui ONG. </p>

            <p style="text-align:justify;font-size:17px !important;">Sniff Events este un proiect de voluntariat care isi propune in primul rand sa intareasca relatia dintre un ONG si publicul sau tinta. Cu ajutorul aplicatiilor de mobile, oricine poate da feedback, fara sa completeze formulare online/offline, contribuid astfel la imbunatatirea acelui proiect.   </p> 

            <p style="text-align:justify;font-size:17px !important;">Ne propunem doar sa devenim o alternativa moderna care face legatura dintre organizatorii unui eveniment si publicul tinta, intr-un mod mai putin agresiv. De aceea consideram ca avantajele folosirii aplicatiei noastre sunt:</p>

<h1 style="color:#21ba45;">1 <small>Comunicarea eficienta cu publicul tinta</small></h1>
            <h1 style="color:#21ba45;">2 <small>Expunere de marketing in fata unui public interesat</small></h1>
            <h1 style="color:#21ba45;">3 <small>Promovare eficienta si mai putin agresiva</small></h1>
            <h1 style="color:#21ba45;">4 <small>Inbunatatirea proiectelor ca urmare a feedback-ului primit</small></h1>

            <p style="text-align:justify;font-size:17px !important;">Sniff Events este o aplicatie care poate fi folosita gratuit atat de organizatii cat si de catre utilizatorii de mobile. Nu are scop financiar, de aceea organizatorii nu au nici un avantaj financiar din acest proiect. Toti suntem voluntari si toti credem in acelasi lucru, ca odata cu implicarea in proiecte precum acesta putem aduce un plus tuturor.</p>

        </div>
        <div class="col-lg-4">
        <div class="fb-page" data-href="https://www.facebook.com/sniffevents?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sniffevents?fref=ts"><a href="https://www.facebook.com/sniffevents?fref=ts">Sniff Events</a></blockquote></div></div>
        </div>
    </div>
</div>
<div footer></div>