<div org-menu ng-show="loggedUser.rol=='4'"></div>
<div admin-header ng-if="loggedUser.rol=='1'"></div>
<div class="ui container">
    <div class="page-header">
        <h2>INOIESTE INFORMATIILE</h2>

    </div>
    <div class="ui red message" ng-show="obligatorii">Toate campurile sunt obligatorii</div>
    <div class="ui red message" ng-show="email_error">Emailul nu este corect formatat</div>
    <div class="ui green message" ng-show="success">Succes!</div>
    <form class="ui form">
        <div class="field">
            <label>Email</label>
            <input placeholder="Nume" ng-model="loggedUser.email" ng-blur="verify(loggedUser.email)">
            <h5 ng-show="mai_exista" style="margin:0px;padding:0px;"><i class="remove icon"></i> Acest username mai exista in baza de date</h5>
        </div>
        <div class="field">
            <label>Nume</label>
            <input placeholder="Nume" ng-model="loggedUser.first_name">
        </div>
        <div class="field">
            <label>Prenume</label>
            <input placeholder="Nume" ng-model="loggedUser.last_name">
        </div>


    </form>
    <div class="pull-right" style="margin-top:15px;">
        <button class="ui green button" ng-disabled="loading" ng-click="updateUser()">Salveazã</button>
    </div>
    <div class="page-header">
        <h2>SCHIMBA PAROLA</h2>
    </div>
    <div class="ui green message" ng-show="parola_schimbata">Parola a fost schimbata.</div>
    <div class="ui red message" ng-show="parola_veche">Parola veche nu se potriveste cu cea din baza de date.</div>
    <div class="ui red message" ng-show="parola_obligatorii">Toate campurile sunt obligatorii</div>
    <div class="ui red message" ng-show="parolele_nu_se_potrivesc">Cele doua parole noi pe care le-ati introdus nu se potrivesc</div>
    <form class="ui form">
        <div class="field">
            <label>Parola actuala</label>
            <input type=password placeholder="Parola actuala" ng-model="newPass.old">
        </div>
        <div class="field">
            <label>Parola noua</label>
            <input type=password placeholder="Parola noua" ng-model="newPass.pass1">
        </div>
        <div class="field">
            <label>Parola noua inca odata</label>
            <input type=password placeholder="Parola noua inca odata" ng-model="newPass.pass2">
        </div>
    </form>
    <div class="pull-right" style="margin-top:15px;">
        <button class="ui green button" ng-click="schimbaParola()">Salveazã</button>
    </div>
</div>