
<div class="ui inverted segment home" align='center' style="border-radius:0px;margin:0px;background:transparent !important;padding:0px;">
    
    <div main-menu></div>
<br>
    <img src="images/sniff.png" width="200" />

    <h1 style="font-size:40px;margin:0px;">Sniff Events</h1>
    <h2 style="margin:0px;">ACUM POTI DA FEEDBACK DE PE MOBIL!</h2>
    <br>

    <p>
        <a href="apk/app-debug.apk" class="ui large green button"><i class="android icon"></i> Android App</a>
        <a href="#/mobileZone" class="ui inverted large button">Manual de utilizare</a>
        <!--<a href="" class="ui large inverted grey button"><i class="apple icon"></i> Apple Store</a>-->
        <!--<a href="#/register" class="btn btn-primary">Register</a>-->
    </p>
        <img src="images/home_bg.jpg" class="bg"/>
    <br>
    <br>
    
</div>
<div class="ui green segment" align='center' style="border-radius:0px;margin:0px;box-shadow:0px;background:#21ba45;color:white">
    <h2>Inregistreaza-te pentru a beneficia de toate avantajele aplicatiei </h2>
    <div class="ui buttons">
        <a href="#/register" class="ui inverted button">Inregistrare</a>
        <div class="or"></div>
        <a href="#/login" class="ui inverted button">Login</a>
    </div>
</div>
<div style="background:white;">
<div class="container" style="background:white;">

    <div class="page-header">
        <h2>EVENIMENTE</h2>
    </div>
    <div class="ui seven green item menu">
        <a class="active item" ng-click="search_item('')" ng-class="search==''?'active':''">Toate</a>
        <a class="item" ng-repeat="cat in evCategories" ng-click="search_item(cat.categoryName)" ng-class="search==cat.categoryName?'active':''">{{cat.categoryName}}</a>
    </div>
    <div >
        <div >
        <div class="ui link cards">
          <div class="card" ng-repeat="event in events | filter: search" style="border: none;box-shadow: 0px 0px 10px lightgray;">
            <div dimmed-image class="blurring dimmable image" style="width:100%;height:200px;background-image:url('services/images/{{event.event_id}}.png');background-repeat: no-repeat;background-size: cover; background-position: center;padding:15px;border: 1px solid rgba(34, 36, 38, 0.15);">
             <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                      <img src="images/cat/{{event.categoryName}}.png"><br>
                      <p>{{event.categoryName}}</p>
                    <a href="#/event/{{event.event_id}}" class="ui inverted button">Detalii</a>
                  </div>
                </div>
              </div>
                
            </div>
            <div class="content">
              <div class="header">{{event.project_name}}</div>
              <div class="meta">
                <a>{{event.org_name}}</a>
              </div>
              <div class="description">
                {{event.location_name}}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <div ng-if="event.DiffDate>0">
                                Incepe in {{event.DiffDate}} zile
                            </div>
                            <div class="ui label" ng-if="event.DiffDate<=0">
                                In desfasurare
                            </div>
              </span>
              <span>
                
                <a href={{event.FbPage}} target="_blank" ng-if="event.FbPage"><i class="facebook icon"></i></a>
                           
              </span>
            </div>
          </div>
        </div>
        </div>
        
        
        </div>
    </div>


</div>
    </div>
<div footer></div>