<div main-menu></div>
<div class="ui green segment" style="border-radius:0px;margin:0px;box-shadow:0px;">
    <div class="container">
        <h2>MOBILE ZONE</h2>
    </div>
</div>
<div>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">

            </div>
        </slide>
    </carousel>
</div>
<div style="width:100%; padding:40px; background:#21ba45;color:white" align="center">
    <div class="container">
        <h2>Inregistreaza-te pentru a beneficia de toate avantajele aplicatiei </h2>

        <a href="#/register" class="ui huge inverted button">Inregistrare</a>

    </div>
</div>
<div footer></div>