<div main-menu></div>
<div class="ui green segment" style="border-radius:0px;margin:0px;box-shadow:0px;">
    <div class="container">
        <h2>MOBILE ZONE</h2>
    </div>
</div>
<div>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">

            </div>
        </slide>
    </carousel>
</div>
<div style="width:100%; padding:40px; background:#21ba45;color:white" align="center">
    <div class="container">
        <h2>Inregistreaza-te pentru a beneficia de toate avantajele aplicatiei </h2>

        <a href="#/register" class="ui huge inverted button">Inregistrare</a>

    </div>
</div>
<div class="ui container">
    <div class="page-header">
        <h3>Manual De utilizare</h3>
    </div>
    <div class="row">
        <div class="col-sm-12 ui message">
            <div class="row">
                <div class="col-sm-2" align="center">
                    <img src="images/cat/educational.png"/>
                    <p>Educational</p>
                </div>
                <div class="col-sm-2" align="center">
                    <img src="images/cat/cariera.png"/>
                    <p>Cariera</p>
                </div>
                <div class="col-sm-2" align="center">
                    <img src="images/cat/social.png"/>
                    <p>Social</p>
                </div>
                <div class="col-sm-2" align="center">
                    <img src="images/cat/distractie.png"/>
                    <p>Distractie</p>
                </div>
                <div class="col-sm-2" align="center">
                    <img src="images/cat/concurs.png"/>
                    <p>Concurs</p>
                </div>
                <div class="col-sm-2" align="center">
                    <img src="images/cat/training.png"/>
                    <p>Training</p>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <img src="images/mobile1.png" class="img-responsive"/>
        </div>
        <div class="col-md-4" style="height:100%;">
            <table style="height:450px;">
                <tr>
                    <td>
                    <h2>Ecranul de login/Inregistrare</h2>
            <p style="text-align:justify;">Aplicatia este conceputa astfel incat sa poate fi folosi indiferent ca aveti sau nu cont pe site-ul nostru. Insa pentru a beneficia de toate avantajele aplicatiei va sfatuim sa va creati cont. Puteti face acest lucru atat pe de pe <a>site</a> cat si din aplicatia de mobile accesand ecranul de <b>inregistrare</b> aflat pe ecranul de <b>login</b>. </p>
                    </td>
                </tr>
            </table>
            
        </div>
        <div class="col-md-4">
            <img src="images/mobile2.png" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <img src="images/mobile3.png" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="images/mobile4.png" class="img-responsive"/>
        </div>
        <div class="col-md-8"></div>
        
    </div>
    
</div>
<div footer></div>