h2{
  font-family: 'Dosis', sans-serif !important;
    font-weight: 300 !important;

}

.angular-google-map-container { height: 400px; }

.footer{
width:100%;background:#49d369;padding:15px;
}
.footer a{
    color:white !important;
}
.green-input{
border: solid 1px #21ba45 !important;
}